<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ArrowTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,1553},{137,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,175}}</string>
			<key>sourceSize</key>
			<string>{137,175}</string>
		</dict>
		<key>AttackTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,1395},{156,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,190}}</string>
			<key>sourceSize</key>
			<string>{156,190}</string>
		</dict>
		<key>MultiDirTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1155},{210,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,233}}</string>
			<key>sourceSize</key>
			<string>{210,233}</string>
		</dict>
		<key>arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,977},{128,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,85}}</string>
			<key>sourceSize</key>
			<string>{128,85}</string>
		</dict>
		<key>arrowBullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,645},{101,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,92}}</string>
			<key>sourceSize</key>
			<string>{101,92}</string>
		</dict>
		<key>arrowBullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,1181},{110,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,96}}</string>
			<key>sourceSize</key>
			<string>{110,96}</string>
		</dict>
		<key>attackTower.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,248},{184,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,196}}</string>
			<key>sourceSize</key>
			<string>{184,196}</string>
		</dict>
		<key>baseplate.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,164},{74,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,70}}</string>
			<key>sourceSize</key>
			<string>{74,70}</string>
		</dict>
		<key>btnBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,869},{242,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,89}}</string>
			<key>sourceSize</key>
			<string>{242,89}</string>
		</dict>
		<key>btnNext.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,2},{244,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,83}}</string>
			<key>sourceSize</key>
			<string>{244,83}</string>
		</dict>
		<key>btnStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,778},{243,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,89}}</string>
			<key>sourceSize</key>
			<string>{243,89}</string>
		</dict>
		<key>bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1553},{55,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,46}}</string>
			<key>sourceSize</key>
			<string>{55,46}</string>
		</dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1553},{55,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,46}}</string>
			<key>sourceSize</key>
			<string>{55,46}</string>
		</dict>
		<key>enemyLeft1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,748},{103,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,91}}</string>
			<key>sourceSize</key>
			<string>{103,91}</string>
		</dict>
		<key>enemyLeft1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,1402},{112,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,101}}</string>
			<key>sourceSize</key>
			<string>{112,101}</string>
		</dict>
		<key>enemyLeft1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,853},{106,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,98}}</string>
			<key>sourceSize</key>
			<string>{106,98}</string>
		</dict>
		<key>enemyLeft1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1648},{105,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,102}}</string>
			<key>sourceSize</key>
			<string>{105,102}</string>
		</dict>
		<key>enemyLeft2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1064},{101,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,127}}</string>
			<key>sourceSize</key>
			<string>{101,127}</string>
		</dict>
		<key>enemyLeft2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,524},{93,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,119}}</string>
			<key>sourceSize</key>
			<string>{93,119}</string>
		</dict>
		<key>enemyLeft2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1550},{96,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,121}}</string>
			<key>sourceSize</key>
			<string>{96,121}</string>
		</dict>
		<key>enemyLeft2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,1279},{107,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,121}}</string>
			<key>sourceSize</key>
			<string>{107,121}</string>
		</dict>
		<key>enemyRight1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1765},{140,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,120}}</string>
			<key>sourceSize</key>
			<string>{140,120}</string>
		</dict>
		<key>enemyRight1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1167},{135,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,122}}</string>
			<key>sourceSize</key>
			<string>{135,122}</string>
		</dict>
		<key>enemyRight1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1765},{135,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,120}}</string>
			<key>sourceSize</key>
			<string>{135,120}</string>
		</dict>
		<key>enemyRight1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,470},{131,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,118}}</string>
			<key>sourceSize</key>
			<string>{131,118}</string>
		</dict>
		<key>enemyRight2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,446},{183,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,179}}</string>
			<key>sourceSize</key>
			<string>{183,179}</string>
		</dict>
		<key>enemyRight2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,852},{123,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,128}}</string>
			<key>sourceSize</key>
			<string>{123,128}</string>
		</dict>
		<key>enemyRight2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1730},{137,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,137}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
		<key>enemyRight2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,590},{140,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,130}}</string>
			<key>sourceSize</key>
			<string>{140,130}</string>
		</dict>
		<key>explode1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1594},{204,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,169}}</string>
			<key>sourceSize</key>
			<string>{204,169}</string>
		</dict>
		<key>explode1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,627},{210,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,186}}</string>
			<key>sourceSize</key>
			<string>{210,186}</string>
		</dict>
		<key>explode1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,960},{235,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,193}}</string>
			<key>sourceSize</key>
			<string>{235,193}</string>
		</dict>
		<key>explode1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1869},{170,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,178}}</string>
			<key>sourceSize</key>
			<string>{170,178}</string>
		</dict>
		<key>explode1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,1037},{181,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,177}}</string>
			<key>sourceSize</key>
			<string>{181,177}</string>
		</dict>
		<key>explode1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,1216},{177,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,178}}</string>
			<key>sourceSize</key>
			<string>{177,178}</string>
		</dict>
		<key>explode2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,839},{186,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,196}}</string>
			<key>sourceSize</key>
			<string>{186,196}</string>
		</dict>
		<key>explode2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,1505},{105,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,142}}</string>
			<key>sourceSize</key>
			<string>{105,142}</string>
		</dict>
		<key>explode2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,1894},{142,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,148}}</string>
			<key>sourceSize</key>
			<string>{142,148}</string>
		</dict>
		<key>explode2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1894},{149,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,141}}</string>
			<key>sourceSize</key>
			<string>{149,141}</string>
		</dict>
		<key>explode2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1887},{143,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,162}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>explode2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,732},{118,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,130}}</string>
			<key>sourceSize</key>
			<string>{118,130}</string>
		</dict>
		<key>failedPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{636,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{636,304}}</string>
			<key>sourceSize</key>
			<string>{636,304}</string>
		</dict>
		<key>hp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1869},{174,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,36}}</string>
			<key>sourceSize</key>
			<string>{174,36}</string>
		</dict>
		<key>hpBg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1594},{14,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,166}}</string>
			<key>sourceSize</key>
			<string>{14,166}</string>
		</dict>
		<key>no.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1428},{122,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,120}}</string>
			<key>sourceSize</key>
			<string>{122,120}</string>
		</dict>
		<key>nomoney_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,1073},{106,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,108}}</string>
			<key>sourceSize</key>
			<string>{106,108}</string>
		</dict>
		<key>page_mark1.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1610},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>page_mark2.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1610},{38,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,34}}</string>
			<key>sourceSize</key>
			<string>{38,34}</string>
		</dict>
		<key>playbutton1.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1304},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>playbutton2.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1304},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>playhp.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,470},{340,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,52}}</string>
			<key>sourceSize</key>
			<string>{340,52}</string>
		</dict>
		<key>playstar.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,1649},{62,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,86}}</string>
			<key>sourceSize</key>
			<string>{62,86}</string>
		</dict>
		<key>sell.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1367},{225,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,225}}</string>
			<key>sourceSize</key>
			<string>{225,225}</string>
		</dict>
		<key>star.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,1649},{66,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,74}}</string>
			<key>sourceSize</key>
			<string>{66,74}</string>
		</dict>
		<key>starbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1765},{102,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,98}}</string>
			<key>sourceSize</key>
			<string>{102,98}</string>
		</dict>
		<key>title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,738}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,738}}</string>
			<key>sourceSize</key>
			<string>{160,738}</string>
		</dict>
		<key>toolbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,470},{1422,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1422,150}}</string>
			<key>sourceSize</key>
			<string>{1422,150}</string>
		</dict>
		<key>towerPos.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,961},{108,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,110}}</string>
			<key>sourceSize</key>
			<string>{108,110}</string>
		</dict>
		<key>upload.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,524},{252,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{252,252}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>test.png</string>
		<key>size</key>
		<string>{827,2045}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3bcf493547926d8dccd8b57ea490b71b:b31d2b2df9dd2de5083e02587e2c13d1:96fb3d46aab20ec9eb9704de1ab972b6$</string>
		<key>textureFileName</key>
		<string>test.png</string>
	</dict>
</dict>
</plist>
